fhirmapping.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="dataset">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="record" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="ID"/>
                            <xs:element type="xs:string" name="naam"/>
                            <xs:element type="xs:string" name="mapping"/>
                            <xs:element type="xs:string" name="profile"/>
                            <xs:element type="xs:string" name="in"/>
                            <xs:element type="xs:string" name="zib"/>
                            <xs:element type="xs:string" name="example"/>
                            <xs:element type="xs:string" name="searchurl"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>

